.container {
  border-radius: 10px;
  background-color: white;
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  /* border: 5px solid black; */
}

.avatar > img {
  cursor: pointer;
}

.avatar > img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.texts {
  line-height: 0px;
}

.socialLinks {
  display: flex;
  justify-content: space-evenly;
}

.fa {
  font-size: 30px;
  color: black;
}

.fa-map-marker {
  font-size: 20px;
}

.fa:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-github:hover {
  color: black;
}

.fa-linkedin:hover {
  color: rgb(50, 50, 250);
}
